.contenedor{
    border: 4px solid #a99edc;
    background-color: #c5bcee;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    /* Define Areas en el grid*/
    grid-template-areas: 
        "header header header"
        "aside main main"
        "aside main main"
    ;
    /*  --------------------------
        |header | header | header|
        --------------------------
        |aside  | main   | main  |
        --------------------------
        |aside  | main   | main  |
        -------------------------
    */
}

.item{
    border: 4px solid mediumspringgreen;
    font-size: 2.5rem;
}

.item:nth-child(1){
    background-color: rgb(255, 214, 243);
    /* Indica que area va a utilizar el item */
    grid-area: header;
}

.item:nth-child(2){
    background-color: rgb(213, 250, 210);
    grid-area: aside;
}

.item:nth-child(3){
    background-color: rgb(224, 251, 251);
    grid-area: main;
}