.contenedor{
    border: 5px solid turquoise;
    display: grid;
    gap: 20px;
    grid-template-rows: 100px 100px 100px;
    grid-auto-flow: column;
    grid-auto-columns: 100px;
}
.item{
    border: 4px solid orange;
}